* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,
body {
  margin: 20px auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  height: 90%;
  margin: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

/* nav */

header {
  width: 100%;
  padding: 20px;
  background-color: rgb(255, 72, 72);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

nav,
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

li.type__btn,
li.evolution__btn {
  padding: 5px 20px;
  margin: 0 2px;
  border-radius: 4px;
  color: rgb(99, 99, 99);
  background-color: white;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
li.type__btn:hover,
li.evolution__btn:hover {
  transform: scale(0.95);
  color: rgb(255, 72, 72);
}

li.type__btn.type--all {
  margin-right: 15px;
  color: rgb(255, 11, 11);
}

/* section */

#book {
  padding: 20px 70px;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.book__pokemons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 300ms ease-out;
}

.book__pokemons.anim-out {
  opacity: 0;
  transform: scale(0.98) translateY(2px);
}

.book__pokemons__pokemon {
  background-color: white;
  border-radius: 4px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.book__pokemons__pokemon:hover {
  transform: scale(0.98);
  color: rgb(255, 72, 72);
  font-weight: 600;
}

.book__pokemons__pokemon.invisible {
  display: none;
}

.book__left,
.book__right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.book__pokemons__pokemon img {
  width: 55px;
  height: 50px;
  margin-right: 30px;
}

.pokemon__name {
  display: inline-block;
}

@media screen and (max-width: 700px) {
  html,
  body {
    margin: 0;
  }
  .container {
    box-shadow: none;
    height: 100vh;
  }

  header {
    border-radius: 0;
  }

  nav {
    flex-direction: column;
  }
  .navbar {
    margin: 2px 0;
  }
}
